[Unit]
Description=FlareDNS DyDNS update for domain dyndns.mydomain.com

[Service]
ExecStart=/usr/bin/env docker run -ti --rm --name FlareDNS-dyndns.mydomain.com ulikoehler/flaredns:latest python update-dyndns.py --email cloudflare-email@mydomain.com --api-key c6c94fd52184dcc783c5ec1d5089ec354b9d9 --hostname dyndns.mydomain.com --ipv4 --ipv6 --interval 60
WorkingDirectory=/opt/FlareDNS
Restart=always

[Install]
WantedBy=multi-user.target